body {
    background-color: #6B705C;
    font-family: "Google Sans Flex";
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    color: #2E2E2E;
}

header {
    align-items: center;
    text-align: center;
}

h1 {
    font-family: "Prompt";
    font-size: 50px;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    color: #341539;
}

.main {
    padding-left: 4em;
    padding-right: 4em;
}

.container-fluid {
    width: 65%;
}

.lede {
    font-size: 18px;
    text-align: center;
}

.quote {
    font-weight: bold;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img-fluid {
    align-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.byline {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 2em;
}